<h1>MyPage#index</h1>
<p>Find me in app/views/my_page/index.html.erb</p>
<h2>ユーザー情報</h2>
メールアドレス: <%= current_user.email %>
<h2>ふせん</h2>
<%= form_for @bookmark do |f| %>
  <%= f.text_field :comment %>
  <%= f.text_area :vpos_time %>
  <%= f.submit "Send" %>
<% end %>

<script>
(function(documet){

    $(document).ready(function(){
         $(".Editable").click(edit_toggle());
           $("h3").click(edit_toggle());
           $(".Edit").click(Edit());
    });

    function edit_toggle(){
        var edit_flag = false;
        return function(){
            if(edit_flag) return;
            var $input = $("<input>").attr("type","text").val($(this).text().trim());
            $(this).html($input);

            $("input", this).focus().blur(function(){
                save(this);
                $(this).after($(this).val()).unbind().remove();
                edit_flag = false;
            });
            edit_flag = true;
        }
    }

    function save(elm){
        alert("「"+$(elm).val()+"」を保存しました"); //保存する処理をここに書く
    }

    function Edit(){
        
    }
})(document);

</script>

